
.block .block_action { display: none; }

/* general */

#region-post .block {
	background: #fff;
	border-radius: 2px;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
	margin-bottom: 20px;
	padding: 10px;
/*	width: 200px;*/
}

#region-post .block .header {

}
#region-post  .block .header h2 {
	margin: 0 0 10px 0;
	font: normal 20px "PT Sans Narrow", Verdana, sans-serif;
	border-radius: 2px;
	text-transform: none;
	line-height: 1.2;
	border: 1px solid #fff;
	border-bottom: 1px solid #e5e5e5;
	text-transform: uppercase;
}
#region-post  .block .generalbox {
	width: auto;
}

#region-post  .block .content .list {
	margin: 10px 0 0;
}
#region-post  .block .content .list li {
	list-style: none;
	border-bottom: 1px solid #ddd;
}
#region-post .block .content .list li:last-child {
	border: none;
}
#region-post  .block .content .listentry img {
	margin-right: 5px;
}

#region-post .block.invisible h2 {
	opacity: 0.5;
}

.unlist {
	margin: 0;
}
.unlist li {
	clear: both;
	list-style-type: none;
	list-style-position: inside;
}
.unlist li img {
	float: left;
	margin: 3px 5px 0 0;
}
.unlist li:before {
/*	content: '\00BB ';*/
}

/* latests news */
.unlist .post {
	list-style-type: none;
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 0;
}
.unlist .post .head {
	color: #57492a;
}

/* my private files */

/*.ygtvspacer { display: none; }*/
.block_private_files #ygtvcontentel1 .icon {
	margin: 3px 5px 0 0;
	float: left;
}
.block_private_files .ygtvtn,
.block_private_files .ygtvln {
	display: none;
}

/* ===== EDIT MODE ===== */

.editing #region-post .block .title { position: relative; }
.editing #region-post .block div.commands { margin: -11px 0 0 0; }
.editing #region-post .block .commands a { display: block; }
.editing #region-post .block .commands a img { margin-right: 5px; }
.editing #region-post .block .edit-toggle {
	position: absolute;
	right: 5px;
	top: 0;
	color: #777 !important;
}
.editing #region-post .block .buttons {
	overflow: hidden;
}
.block .section_add_menus {
	padding: 10px;
	margin-top: 20px;
	width: auto;
}
.block .section_add_menus .menujump {
	width: 80%;
}
