
.block .block_action { display: none; }

/* general */

#region-post .block {
	background: #fff;
	border-radius: 2px;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
	margin-bottom: 20px;
	padding: 10px;
/*	width: 200px;*/
}

#region-post .block .header {

}
#region-post  .block .header h2 {
/* 	margin: 0 0 10px 0; */
/* 	border-radius: 2px; */
/* 	text-transform: none; */
/* 	border: 1px solid #fff; */
/* 	text-transform: uppercase; */

	background: #eee;
	border-bottom: 1px solid #ddd;
	margin: -10px -10px 10px;
	padding: 10px 10px 6px;
	font: normal 1.1em/1 "PT Sans Narrow", Verdana, sans-serif;
	color: #666;
	text-transform: uppercase;

}
#region-post  .block .generalbox {
	width: auto;
}

#region-post  .block .content .list {
	margin: 10px 0 0;
}
#region-post  .block .content .list li {
	list-style: none;
	border-bottom: 1px solid #ddd;
}
#region-post .block .content .list li:last-child {
	border: none;
}
#region-post  .block .content .listentry img {
	margin-right: 5px;
}

#region-post .block.invisible h2 {
	opacity: 0.5;
}

.unlist {
	margin: 0;
}
.unlist li {
	clear: both;
	list-style-type: none;
	list-style-position: inside;
}
.unlist li img {
	float: left;
	margin: 3px 5px 0 0;
}

/* latests news */
.unlist .post {
	list-style-type: none;
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 0;
}
.unlist .post .head {
	color: #666;
}

/* my private files */

.block_private_files #ygtvcontentel1 .icon {
	margin: 3px 5px 0 0;
	float: left;
}
.block_private_files .ygtvtn,
.block_private_files .ygtvln {
	display: none;
}

/* ===== EDIT MODE ===== */

.edit-mode #region-post .block .title { position: relative; }
.edit-mode #region-post .block div.commands { margin: -11px -11px 0 0; }
.edit-mode #region-post .block .commands a { display: block; }
.edit-mode #region-post .block .commands a img { margin-right: 5px; }
.edit-mode #region-post .block_with_controls .edit-toggle {
	position: absolute;
	right: 0px;
	top: 6px;
	color: #777 !important;
	font-size: 10px;
}
.edit-mode #region-post .block .edit-toggle {
	pointer-events: none;
}
.edit-mode #region-post .block h2 {
	position: relative;
}
.edit-mode #region-post .block_with_controls h2:after {
	content: '▼';
	position: absolute;
	right: 10px;
	top: 12px;
	color: #ccc;
	font-size: 10px;
}
.edit-mode #region-post .block_with_controls h2:hover {
	background: #F7F7F7;
	cursor: pointer;
}
.edit-mode #region-post .block_with_controls .edit-active h2 {
	background: #F7F7F7;
}
.edit-mode #region-post .block_with_controls .edit-active h2:after {
	content: "";
}

.editing #region-post .block .empty-title {
	height: 26px;
}
.editing #region-post .block .buttons {
	overflow: hidden;
}
.block .section_add_menus {
	padding: 10px;
	margin-top: 20px;
	width: auto;
}
.block .section_add_menus .menujump {
	width: 80%;
}

/* settings block */

.block_settings .adminsearchform #adminsearchquery {
	width: 60%;
}