/* hide acessibility links */
.skip-block {
	display: none;
}
/* remove all <br> */
/*
 br { display: none !important; }
 */


/* to be fixed... */
.notloggedin .logininfo { display: none; }
/* prevent sidebar from showing */
.block_navigation,
.block_settings { display: none; }

.clearer, .clearfix {
	clear: both;
}
.picture a, .picture a:hover {
	border: none;
}
th, td {
	border: none;
}
::selection {
	background: #fdfcfa;
}
/* course links*/
a {
	color: #857040;
	/*border-bottom: 1px solid #444;*/
}
a:visited {
	color: #7a6f3a;
	/*border-bottom: 1px solid #777;*/
}
a:hover {
	color: #444;
	/*border-bottom: 1px solid #444;*/
	background: #fdfcfa;
}
a:active {
	color: #fff;
	/*border-bottom: 1px solid #444;*/
	background: #857040;
}
.helplink a {
	border: none;
}
/* modal box */

#helppopupbox {
	background: #f7f7f7;
	border: 1px solid #ea9e88;
	border-radius: 2px;
	box-shadow: 0 0 4px #444;
	padding: 10px;
}
#helppopupbox h1, #helppopupbox p {
	margin: 0;
}
#helppopupbox .yui3-widget-hd {
	float: right;
}
/* buttons */
input[type=submit], button, input[type=button], .button {
	border: none;
	color: #fff;
	background: #857040;
	padding: 4px;
	border-radius: 2px;
	border-bottom: 1px solid #777;
	border-right: 1px solid #777;
}
input[type=submit]:visited, button:visited, input[type=button]:visited, .button:visited {
	background: #57492a;
}
input[type=submit]:hover, button:hover, input[type=button]:hover, .button:hover {
	background: #57492a;
	color: #fff;
	cursor: pointer;
}
input[type=submit]:active, button:active, input[type=button]:active, .button:active {
	background: #b59d65;
	cursor: pointer;
}
/* GENERAL */
.generalbox {
	border: 1px solid #E5E5E5;
	background: #f7f7f7;
	padding: 10px;
	width: 70%;
	margin: 0 auto 20px;
}
.generalbox p {
	margin: 0;
}
.boxaligncenter {
	margin: 0 auto;
}

/* TABLES */

.generaltable {
	border-bottom: 2px solid #444;
}
.generaltable thead {
	background: #444;
	color: #fff;
	border-style: none;
	font-family: 'PT Sans Narrow', Tahoma, sans-serif;
	font-size: 18px;
}
.generaltable tbody tr {
	border-bottom: 1px solid #E5E5E5;
}
.generaltable tbody tr:nth-child(odd) {
	background: #f7f7f7;
}
.generaltable tbody tr:hover {
	background: #fdfcfa;
}
.generaltable td {
	border-color: #E5E5E5;
}
.generaltable a {
	border: none;
	background: none;
}

.roleassigntable td {
	vertical-align: top;
}
/* FORUMS
 .forumheaderlist
 thead
 tbody
 tr.discussion
 td.<name>

 */
.path-mod-forum .forumheaderlist {
	border-style: none;
	border-collapse: collapse;
	border-bottom: 2px solid #444;
}
.path-mod-forum .forumheaderlist a {
	border: none;
}
.path-mod-forum .forumheaderlist a:visited {
	color: #857040;
}
.path-mod-forum .forumheaderlist a:hover {
	background: none;
	color: #444;
}
.path-mod-forum .forumheaderlist a:active {
	background: #857040 ;
	color: #fff;
}
.path-mod-forum .forumheaderlist tr th, .path-mod-forum .forumheaderlist tr td {
	border-style: none;
}
.path-mod-forum .forumheaderlist thead {
	background: #444;
	color: #fff;
	border-style: none;
	font-family: 'PT Sans Narrow', Tahoma, sans-serif;
	font-size: 18px;
}
.path-mod-forum .forumheaderlist tbody tr {
	border-bottom: 1px solid #e5e5e5;
}
.path-mod-forum .forumheaderlist tbody tr:nth-child(odd) {
	background: #f7f7f7;
}
.path-mod-forum .forumheaderlist tbody tr:hover {
	background: #fdfcfa;
}
.path-mod-forum .forumheaderlist tbody td {
	border-color: #E5E5E5;
}
 /* forum post */
#page-mod-forum-discuss .discussioncontrols {
	float: left;
	margin: 0 0 5px 0;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion {
	margin-top: 20px;
	padding: 0;
}
.forumpost {
	border: none;
	border-top: 2px solid #7a6f3a;
	border-bottom: 1px solid #fdfcfa;
	margin: 0;
}
.forumpost .header {
	border-bottom: 1px solid #E5E5E5;
}
.forumpost .maincontent .left, .forumpost .side .left {
	display: none;
}
/*TABTREE*/
.tabtree {
	position: relative;
	margin-bottom: 50px;
}
.tabtree ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.tabtree ul li {
	display: inline;
}
.tabtree .tabrow0 .here .empty {
	display: block;
	height: 1px;
	border: none;
	border-bottom: 2px solid #777;
	overflow: hidden;
	position: absolute;
	width: 100%;
	margin-top: -4px;
}
.gecko .tabtree .tabrow0 .here .empty { margin-top: 0; } /* rever */

.tabtree .tabrow0 li a {
	border: 2px solid #E5E5E5;
	padding: 5px;
	background: #f7f7f7;
	color: #777;
	border-radius: 2px 2px 0 0;
}
.tabtree .tabrow0 li a:hover {
	background: #E5E5E5;
	color: #444;
}
.tabtree .tabrow0 li a.nolink:hover {
	background: none;
}
.tabtree .tabrow0 li a:active {
	background: #444;
	border-color: #444;
	color: #fff;
}
.tabtree .tabrow0 > .active > a, .tabtree .tabrow0 > .selected > a {
	background: #fff;
	color: #444;
	border-color: #777;
	z-index: 200;
	position: relative;
	border-bottom-color: #fff;
}
/*2nd level */
.tabtree ul .here ul {
	position: absolute;
	top: 100%;
	width: 100%;
}
.tabtree .tabrow1 {
	border-top: 2px solid #777;
	border-bottom: 2px solid #E5E5E5;
	padding: 2px 0;
	margin-top: 1px;
}
.tabtree .tabrow1 li a {
	padding: 2px;
	border: none;
	background: none;
}
.tabtree .tabrow1 li a:hover {
	background: none;
}
.tabtree .tabrow1 .selected a {
	color: #444;
	font-weight: bold;
	text-decoration: underline;
}
/* 3rd level */
.tabtree .here .tabrow2.empty {
	display: none;
}
/* MEGAMENU*/
#megamenu {
	clear: both;
	font-family: 'PT Sans Narrow', Tahoma, sans-serif;
	font-size: 20px;
}
#megamenu a {
	color: #fff;
	border: none;
}
#megamenu a:hover {
	background: inherit;
}
#megamenu ul {
	margin: 0;
}
#megamenu .level-1 {
	float: left;
	list-style-type: none;
	border-right: 2px solid #fff;
	background: #57492a;
}
#megamenu .level-1[aria-expanded="true"] {
	background: #40361f;
}
#megamenu .level-1.active {
	background: #40361f;
	color: #fff;
}
#megamenu .level-1 > a {
	margin: 0;
	padding: 5px 20px;
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	line-height: 1;
}
#megamenu .level-1 > a:hover {
	background: #40361f;
}
#megamenu .submenu a.menu-parent:after {
	content: ' ▾';
}
#megamenu .submenu.active a.menu-parent:after {
	content: ' ▴';
}

#megamenu .sub {
	position: absolute;
	background: #40361f;
	z-index: 999999;
	padding: 0 5px 5px;
	border-bottom: 2px solid #857040;
	max-width: 672px;
}

#menu .sub .level-2 h4 {
	margin: 2px 0 4px;
	padding: 0 0 2px 0;
	border-bottom: 2px solid #fff;
	line-height: 1;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 17px;
}
#menu .sub .level-3 h4 {
	font-family: 'PT Sans Narrow', Tahoma, sans-serif;
	border-bottom-width: 1px;
	text-transform: none;
	font-size: 17px;
	margin: 4px 0 2px;
}

#menu .sub li li {
	color: #fff;
	font-family: 'Droid Serif', Georgia, serif;
	font-size: 13px;
	padding: 2px 0;
	list-style-type: none;	
	line-height: 1.4;
}

#menu .sub li li a:hover,
#menu .sub li li a:focus {
	text-decoration: underline;
}
#menu .sub > li {
	float: left;
	display: inline-block;
	margin: 5px;
	width: 214px;
}

#menu .sub > .general {
	margin-top: 12px;
}


/* FORMS */

.mform {
}
.mform fieldset.clearfix {
	border-bottom: 2px solid #7a6f3a;
}
.mform fieldset.clearfix  legend {
	border-bottom: 1px solid #fdfcfa;
	margin: 0 10px 10px 0;
	float: left;
	width: 100%;
	color: #777;
}
.mform fieldset.clearfix  .fitem {
	margin-bottom: 10px;
	clear: both;
}
.mform fieldset.clearfix  .fitemtitle {
	float: left;
	margin-right: 10px;
	width: 170px;
	text-align: right;
	color: #777;
	line-height: 1.2;
}
.mform fieldset.clearfix  .felement {
	margin-left: 180px;
	width: 460px;
}
.mform fieldset.clearfix  .felement textarea {
	width: 100%;
}
.mform fieldset.clearfix .required .fitemtitle {
	color: #857040 !important;
}
span.hide, div.hide {
	display: none;
}
/* submit */
.mform fieldset .advancedbutton {
	text-align: right;
}
.filemanager-container {
	padding: 5px;
	background: #fdfcfa;
	border-radius: 2px;
	border: 1px solid #7a6f3a;
	margin-top: 10px;
}
/* user profile */

.userprofile .profilepicture {
	float: left;
	margin-right: 10px;
}
.userprofile .profilepicture a {
	border-bottom: none;
}

/*edit mode */
.blockmovetarget {
	display: block;
	height: 1em;
	margin: 1em 0;
	border: 2px dashed #857040;
}
.blockmovetarget:hover {
	background: none;
	border: 2px dashed #444;
}

/* course list */
.categorylist {
	margin-top: 10px;
}
.categorylist .image {
	float: left;
	margin-right: 5px;
}
.categorylist .course .indentation {
	margin-left: 20px;
}
.categorylist .course .name,
.categorylist .course .info {
	display: inline;
}
#coursesearch {
	margin-top: 20px;
}