/* hide acessibility links */
.skip-block { display: none; }

/* remove all <br> */
br { display: none !important; }

.clearer { clear: both; }


/* course links*/
a {
	color: #d64d25;
	border-bottom: 1px solid #444;
}
a:visited {
	color: #e89279;
	border-bottom: 1px solid #777;
}
a:hover {
	color: #444;
	border-bottom: 1px solid #444;
	background: #fefcfb;
}
a:active {
	color: #fff;
	border-bottom: 1px solid #444;
	background: #d64d25;
}
/* modal box */

#helppopupbox {
	background: #f7f7f7;
	border: 1px solid #ea9e88;
	border-radius: 2px;
	box-shadow: 0 0 4px #444;
	padding: 10px;
}
#helppopupbox h1, #helppopupbox p { margin: 0; }
#helppopupbox .yui3-widget-hd {
	float: right;
}

/* buttons */
input[type=submit] {
	border: none;
	color: #fff;
	background: #D64D25;
	padding: 4px;
	border-radius: 2px;
}
input[type=submit]:hover {
	background: #7f2e16;
	cursor: pointer;
}

/* intro */
#intro.generalbox {
	font: 20px Tahoma, sans-serif;
	padding: 0;
	border-bottom: 2px solid #d64d25;
	margin: 0 0 20px 0;
}

/* FORUMS 
.forumheaderlist
	thead
	tbody
		tr.discussion
			td.<name>

*/
.path-mod-forum  .forumheaderlist {
	border-style: none;
	border-bottom: 2px solid #444;
}
.path-mod-forum .forumheaderlist tr th,
.path-mod-forum .forumheaderlist tr td {
	border-style: none;
}
.forumheaderlist thead {
	background: #444;
	color: #fff;
	border-style: none;
}
.forumheaderlist tbody tr {
	border-bottom: 1px solid #E5E5E5;
}
.forumheaderlist tbody tr:nth-child(odd) {
	background: #f7f7f7;
}
.forumheaderlist td {
	border-color: #E5E5E5;
}


/*TABTREE*/
.tabtree {
	position: relative;
	margin-bottom: 50px;
}
.tabtree ul {
	margin: 0;
	padding: 0;
}
.tabtree ul li {
	display: inline;
}
.tabtree .tabrow0 .here .empty {
	display: none;
}
.tabtree .tabrow0 li a {
	border: 1px solid #777;
	padding: 5px;
}
.tabtree .tabrow0 > .active > a,
.tabtree .tabrow0 > .selected > a {
	background: #d64d25;
	color: #fff;
	border-color: #d64d25;
}
/*2nd level */
.tabtree ul .here ul{
	position: absolute;
	top: 100%;
	width: 100%;
}
.tabtree .tabrow1 {
	margin-top: 11px;
	border-top: 2px solid #444;
	border-bottom: 2px solid #444;
	padding: 2px 0;
}
.tabtree .tabrow1 li a {
	padding: 2px;
	border: none;
}
.tabtree .tabrow1 .selected a {
	background: #d64d25;
	color: #fff;
	border-color: #d64d25;
}


/* MEGAMENU*/

#megamenu { 
	overflow: hidden;
	clear: both;
	font: 20px normal 'Yanone Kaffeesatz', Tahoma, sans-serif;
}
#megamenu a {
	color: #fff;
	border: none;
}
#megamenu a:hover {
	background: inherit;
}
#megamenu ul {
	margin: 0;
	overflow: hidden;
}
#megamenu li h3 {
	margin: 0;
	padding: 5px 20px;
	font-size: 18px;
	text-transform: uppercase;
}
#megamenu .submenu h3:after {
	content: ' ▾';
}
#megamenu .submenu.active h3:after {
	content: ' ▴';
}
#megamenu .first-level { 
	float: left;
	list-style-type: none;
	border-right: 2px solid #fff;
	background: hsla(0, 0%, 0%, 0.4);
}
#megamenu .first-level:hover {
	background: hsla(0, 0%, 0%, 0.6);
}
#megamenu .first-level.active {
	background: hsla(0, 0%, 0%, 0.8);
	color: #fff;
}

#megamenu .sub {
	position: absolute;
	/*background: hsla(0, 0%, 0%, 0.95);*/
	background: rgba(90, 40, 3, 0.95);
	z-index: 9999;
	padding: 0 5px 5px;
	border-bottom: 2px solid #FF6600;
}
#megamenu .sub h4 {
	margin: 0;
	border-bottom
	padding: 0 0 2px 0;
	border-bottom: 2px solid #fff;
	cursor: none;
}
#megamenu .sub li li {
	color: #fff;
	font-family: 'Droid Serif', Georgia, serif;
	font-size: 13px;
	padding: 2px 0;
}
#megamenu .sub li li a:hover {
	text-decoration: underline;
}
#megamenu .sub > li  { 
	float: left;
	display: inline-block; 
	margin: 5px; width: 214px; 
}
/*
#megamenu .sub #general {
	margin: 21px 5px 5px;
}

#megamenu #myProfile .sub > li.contains_branch { float: right; }
*/