#megamenu .level-1 > a {
	background: #99470A;
}
#megamenu .level-1 > a:hover {
	background: #793808;
}
#megamenu .sub {
	background: #793808;
}
#page-content #region-main-wrap {
	border: 1px solid #ccc;
	width: 858px;
}

.block {
	border: 1px solid #ccc;
	width: ;
}
#page-content #region-post {
	width: 218px;
}
