/****
 * Three column floating div layout with 2,1,3 column order
 * Based on: http://matthewjamestaylor.com/blog/holy-grail-no-quirks-mode.htm
 * And:  http://matthewjamestaylor.com/blog/ultimate-3-column-holy-grail-pixels.htm
 *
 * #page
 *   #page-header
 *   #page-content
 *   |  #region-main-box
 *   |    #region-post-box
 *   |      #region-main-wrap
 *   |      |  #region-main
 *   |      |    .region-content
 *   |      #region-pre
 *   |      |  .region-content
 *   |      #region-post
 *   |      |  .region-content
 *   #page-footer
 *
 * The body tag may also contain one of three layout specific classes that describe
 * the regions of the page and allow us to theme more easily.
 *
 *   default (no class) = Content + side pre + side post
 *   side-pre-only      = Content + side pre
 *   side-post-only     = Content + side post
 *   content-only       = Content
 *
 ****/
 
 html {
  	background-color: transparent;
 }
 
 body {
	margin: 0;
	background-color: #f7f7f7;
 }
 
abbr {
	text-decoration: none;
} 
 
a {
	text-decoration: none;
	color: #000;
} 
 /*
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
 */
/*  */ 
 
.skiplinks,
#dock,
.accesshide,
.skip-block { display: none;}


/* ++ CABEÇALHO ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#page-header-wrap {
	min-width: 1140px;
 	background: #857040;
 	background: -webkit-linear-gradient(45deg, #6e5d35, #9c834b); 
 	overflow: hidden;
 	border-bottom: 2px solid #444;
}
#page-header {
 	width: 1140px;
	margin: 0 auto;
	color: #fff;
}
.headermain {
	float: left;
	height: 130px; /* colocar imagem */
}

.headermain {
	margin: 0;
	float: left;
}
.headermain a {
	border: none;
}
.headermain a:hover {
	background: none;
	border: none;
}
#login-info-wragenr{
	float: right;
	text-align: right;
	margin: 15px 20px 0 0;
}
.notloggedin #login-info-wrap {
/* 	margin: 15px 20px 0 0; */
}

.logininfo {
	color: #fff;
}
.logininfo a,
.logininfo a:visited { color: #fff; border-bottom-color: #444; }
.logininfo a:hover { color: #444; background: inherit; }


.notloggedin .langmenu {
	clear: none;
/* 	margin: 15px 20px 0 0; */
}
/* header login */

.block_login { display: none; } /* remove login from sidebar */
#header-login {
	float: right;
	width: 200px;
	padding: 10px;
}
#header-login #login { width: 200px; }
#header-login .header h2 {
	font-family: 'PT Sans Narrow', Tahoma, sans-serif;
	font-size: 20px;
	margin: 5px 0;
	border-bottom: 2px solid #fff;
	display: none;
}
#header-login .loginform { float: left; }
#header-login .loginform .fld {  }
#header-login .loginform .fld input { width: 100%; border: 1px solid #857040; }
#header-login .loginform label { display: block; }
#header-login .loginform .btn { margin-top: 5px; float: right; }
#header-login .loginform input[type=submit] { background: #7a663a; }
#header-login .loginform input[type=submit]:hover { background: #857040; }
#header-login .loginform input[type=submit]:active { background: #c0ab7c; }
#header-login .footer a { margin-top: -25px; float: left; color: #444; }
#header-login .footer a:visited { color: #57492a; }
#header-login .footer a:hover { color: #fff; background: inherit; }
#header-login .footer a:active { background: #857040; }

.headermenu {
    float: right;
    font-size: 0.8em;
    margin: 10px;
    text-align: right;
}

.headermenu a {
    font-weight: bold;
}

/* Breadcrumb */

.navbar {
	width: 900px;
	overflow: hidden;
}
.breadcrumb {
	font-size: 10px;
	text-transform: uppercase;
	padding: 5px 20px;
	float: left;
}
.breadcrumb a:visited { color: #857040; }
.breadcrumb a:active { color: #fff; }
.breadcrumb ul {
	margin: 0;
}

.breadcrumb li {
	list-style-type: none;
    display: inline;
}

.breadcrumb li:last-child a {
	font-weight: bold;
}

.navbutton {
	float: right;
}
.navbutton table {	margin: 0; }
.navbutton th, .navbutton td {	padding: 0; }


/* ++ MENU +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#page {
	margin: 0 auto;
	font: 13px/1.8 'Droid Serif', Georgia, serif;
	font-weight: normal;
	color: #444;
}

#page-content {
	width: 1140px;
	margin: 20px auto 0;
	clear: both;
}
#page-content #region-main-box {
	clear: both;
}
#page-content #region-post-box {

}

#page-content #region-main-wrap {
	float: left;
	margin: 0 20px 20px 0;
	background-color: #fff;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
	padding: 20px;
	width: 860px;
}
#page-content #region-main {
	padding: 0 20px 0 0;
	width: 640px;
	float: left;
}
#page-content #region-pre {
	width: 200px;
	float: left;
	margin: 0;
}
#page-content #region-post {
	width: 220px;
	float: left;
}
/*if no sidebar */
.side-pre-only #page-content #region-main-wrap { width: 1100px; }
.side-pre-only #page-content #region-main { width: 880px; }


/* FRONT PAGE */
.pagelayout-frontpage #page-content #region-main { width: auto;  }
.pagelayout-frontpage #page-content #region-content { margin-right: 0; }

#frontpage-content {
	width: 640px;
	float: left;	
}
#frontpage-content > .frontblock {
	border-bottom: 2px solid #857040;
	overflow: hidden;
	padding-bottom: 20px;
	margin-right: 20px;
	
}

#frontpage-content > .frontblock:last-child { border: none; }
#uni { float: right; }
#uni h2 { border-bottom: 2px solid #857040; }
#uni ul { margin: 0; }
#uni .list .icon {
	float: left;
	display: none;
}
#uni .list li {
	list-style-type: none;
	border-bottom: 1px solid #e5e5e5;
}
#uni .list li a {
	color: #444;
	border: none;
}
#uni .list li a:hover {
	color: #857040;
}

/* login page */

#page-login-index #page-content #region-main #region-main,
#page-login-index #page-content #region-main-wrap,
#page-login-index #page-content #region-main {
	width: 100%;
}

.loginpanel, .signuppanel {
	float: left;
}
.loginpanel {
	width: 40%;
}
.signuppanel {
	width: 60%;
}

/* ONLINE USERS BLOCK */
.block_online_users ul.list li {
    list-style-type: none;
}

.block_online_users ul.list {
    margin: 0px;   
}

.block_online_users ul.list img.userpicture {
    margin-right: 5px;   
}

/* TABLES — WIDTH */
table.generalbox {
width: 73.5%;
}

/* DIV WIDTHS */
#intro.generalbox, .path-mod-choice .results.names .user, .path-mod-choice #yourselection {
padding: 10px;
}

/* SETTINGS MENU */

#region-main-wrap .block_settings {
	display: block;
}
#region-main-wrap .block_settings hr {
	display: none;
}
#region-main-wrap .block_settings {
	float: right;
	width: 200px;
	padding: 0;
	box-shadow: none;
}
#region-main-wrap .block_settings .block_tree {
	padding: 0;
}
#region-main-wrap .block_settings .block_tree > li > ul {
	padding: 0;
}
#region-main-wrap .block_settings ul li:last-child {
	border: none;
	margin-bottom: 10px;
}

#region-main-wrap .block_settings li {
	line-height: 1;
	list-style-type: none;
}
#region-main-wrap .block_settings .root_node {
	margin: 0;
	padding: 0;
	font: 16px normal normal 'PT Sans Narrow', Tahoma, sans-serif;
	text-transform: uppercase;
	background: none;
	color: #444;
	border-bottom: 2px solid #444;
}
#region-main-wrap .block_settings ul ul { border-top: 1px solid #ccc; }
#region-main-wrap .block_settings ul > li {
	line-height: 1.4;
	border-bottom: 1px solid #ccc;
}


/* ===== HOMEPAGE ===== */

.pagelayout-frontpage #page-content #region-main {
	padding: 0;
}
.welcome {
	border: 1px solid #ccc;
	border-radius: 2px;
	margin-bottom: 20px;
	padding: 10px;
	background-image: url([[pix:theme|bg]]);
	box-shadow:	inset 0 0 30px 5px #E5E9EA, 0 0 3px #ccc, 0 0 3px #ccc;
}
.welcome img {
	float: right;
	border-radius: 2px;
}
.region-content .welcome h2 {
	font: bold 44px "PT Sans Narrow", Verdana, sans-serif;
	text-transform: uppercase;
	margin: 0 0 30px 0;
	line-height: 1.1;
	width: 400px;
}
.region-content .welcome h3 {
	font-size: 20px;
	margin: 0;
	width: 400px;
	margin-bottom: 10px;
}
.frontbloc {
	float: left;
	width: 32%;
	margin-right: 2%;
}
.frontbloc:last-child { margin-right: 0; }

.pagelayout-frontpage .frontbloc h4 {
	font: 20px normal "PT Sans Narrow", Verdana, sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.pagelayout-frontpage .highlight {
	width: 190px;
	min-height: 100px;
	background: #f0f0f0;
	box-shadow:	inset 0 0 30px 5px #E5D5CF, 0 0 3px #ccc;
	border: 5px solid #fff;
	border-radius: 2px;
	-moz-transition: box-shadow, background 1s ease;
	-webkit-transition: box-shadow, background 1s ease;
	transition: box-shadow, background 1s ease;
}
.pagelayout-frontpage .highlight:hover {
	box-shadow:	inset 0 0 30px 5px #E5C0B3, 0 0 3px #ccc;
	background: #E5D5CF;
	-moz-transition: box-shadow, background 1s ease;
	-webkit-transition: box-shadow, background 1s ease;
	transition: box-shadow, background 1s ease;
}
.pagelayout-frontpage .highlight h4 {
	font: 20px "PT Sans Narrow", Verdana, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.pagelayout-frontpage .highlight p {
	font-size: 16px;
}


/* ===== FOOTER ===== */

#page-footer-wrapper {
	background: #fff;
	clear: both;
	border-top: 1px solid #ddd;
	padding: 20px 0;
	-webkit-box-shadow: inset 0px 100px 100px -50px #f7f7f7;
	-moz-box-shadow: inset 0px 100px 100px -50px #f7f7f7;
	box-shadow: inset 0px 100px 100px -50px #f7f7f7;
}
#page-footer-wrapper:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }

#page-footer {
	width: 1140px;
	margin: 0 auto;
	clear: both;
}
#page-footer .logininfo {
	margin-top: 20px;
	color: #444;
	border: none;
}
#page-footer .logininfo a {
	color: #857040;
}
.footer-item {
	width: 200px;
	float: left;
	margin-right: 2%;
}
.footer-item:last-child {
	margin-right: 0;
}
.footer-item h5 {
	font: 20px normal "PT Sans Narrow", Verdana, sans-serif;
	text-transform: uppercase;
}
.footer-item ul {
	margin: 0;
}
.footer-item ul li {
	list-style-type: none;
	line-height: 1.6;
}
.site-info {
	width: 290px;
}
.site-info img {
	width: auto;
	margin-bottom: 10px;
}
.site-info p {
	font-size: 10px
}
.social {
	width: 145px;
}
.social li a {
	float: left;
	margin-right: 10px;
	border-radius: 2px;
	background: #444;
	width: 20px;
	height: 20px;
	-webkit-transition: background 1s ease;
}
.social li a:hover {
	background: aqua;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	transition: background 1s ease;
}
.social .facebook a:hover { background: #27649B; }
.social .linkedin a:hover { background: #4393BB; }
.social .delicious a:hover { background: #407ACC; }
