/****
 * Three column floating div layout with 2,1,3 column order
 * Based on: http://matthewjamestaylor.com/blog/holy-grail-no-quirks-mode.htm
 * And:  http://matthewjamestaylor.com/blog/ultimate-3-column-holy-grail-pixels.htm
 *
 * #page
 *   #page-header
 *   #page-content
 *   |  #region-main-box
 *   |    #region-post-box
 *   |      #region-main-wrap
 *   |      |  #region-main
 *   |      |    .region-content
 *   |      #region-pre
 *   |      |  .region-content
 *   |      #region-post
 *   |      |  .region-content
 *   #page-footer
 *
 * The body tag may also contain one of three layout specific classes that describe
 * the regions of the page and allow us to theme more easily.
 *
 *   default (no class) = Content + side pre + side post
 *   side-pre-only      = Content + side pre
 *   side-post-only     = Content + side post
 *   content-only       = Content
 *
 ****/
 
 html {
  	background-color: transparent;
 }
 
 body {
	margin: 0 auto;
	padding: 20px;
 }
 
abbr {
	text-decoration: none;
} 
 
a {
	text-decoration: none;
	color: #000;
} 
 
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
 
/*  */ 
 
.skiplinks,
#dock,
.accesshide,
.skip-block { display: none;}

/* ++ Cabeçalho ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#page-header {
	float: none;
	margin: 0 0 10px 0;
 	background-color: #a39778;
}

.headermain {
	float: none;
	height: 160px;
	margin: 0 0 0 -20px;
    padding: 10px 20px;
    border-left: 10px solid #000;
 	background-image: url(http://localhost/moodle/theme/up/pix/bg.png);
	background-repeat: no-repeat;
	background-position: right;  
}

.headermenu {
    float: right;
    font-size: 0.8em;
    margin: 10px;
    text-align: right;
}

.headermenu a {
    font-weight: bold;
}

/* Breadcrumb */

.breadcrumb {
	font-size: 10px;
	text-transform: uppercase;
	padding: 5px 10px;
}

.breadcrumb ul {
	margin: 0;
}

.breadcrumb li {
	list-style-type: none;
    display: inline;
}

.breadcrumb li:last-child a {
	font-weight: bold;
}













#page {
	/*override*/
	position: static;
	float: left;
}

.navbar {
	border-top: 1px solid #fff; 
}







/*
.singlebutton input {
	background-color: #000;
	border: 1px solid #fff;
	color: #fff;
	font-size: 9px;
	text-transform: uppercase;
	padding: 1px 3px;
}

.singlebutton input:hover {
	background-color: #555;
}
*/


#page-content {
	/*override*/
	float: left;
	clear: none;
	overflow: visible;
	position: static;
	min-width: 900px;
	/*override*/
	border-top: 5px solid #444;
 	background-color: #a39778;
}
#page-content #region-main-box {
	/*override*/
	left: 0;
	position: static;
	
	width: auto;
	/*override*/
	float: left;
}
#page-content #region-post-box {
	/*override*/
	float: none;
	left: 0;
	margin-left: 0;
	position: static;
	width: auto;
}
.side-pre-only #page-content #region-main,
.side-pre-only #page-content #region-post-box
{ margin-left: 0; }

#page-content #region-main-wrap {
	/*override*/
	position: static;
	right: 0;
	/*override*/
	width: 660px;
	float: left;
	margin-right: 20px;
}
#page-content #region-main {
	margin-right: 0;
	margin-left: 0;
	overflow: visible;	
}
#page-content #region-pre {
	/*override*/
	float: none;
	overflow: visible;
	position: static;
	margin-left: 0;
	/*override*/
	width: 220px;
	float: left;
	margin-right: 20px;
}
#page-content #region-post {
	/*override*/
	left: 0;
	overflow: visible;
	position: static;
	/*override*/
	width: 220px;
	float: left;
}

#page-footer {
	background: #ccc;
}


/* Courses Homepage */

.coursebox {
	float: none;
	width: auto;
	padding: 0 10px;
	border-left: 10px solid #fff;
	border-right: 1px solid #fff;
}

.coursebox .info,
.coursebox .summary {
	float: none;
	width: auto;	
}

.coursebox h3 {
	margin: 0;
	padding: 0;
}

#pageheading {
	font-size: 18px;
}

.mod_introbox {
	font-style: italic;
	border: none;
}

.generalbox {
	font-size: 12px;
	line-height: 15px;
	padding: 10px 0;
	border-width: 1px 0 0 0;
	border-color: #444;
	border-style: dotted;
}



ul.section.img-text {
	margin: 0;
}


.modified {
	font-size: 10px;
	font-style: italic;
	padding: 5px 0;
	border-top: 1px dotted #444;
}



.forumheaderlist {
	margin: 0 !important;
	border: none;
	border-collapse: collapse !important;
}

.forumheaderlist th {
	text-align: left;
	border: 1px solid #ccc;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
}

.forumheaderlist td {
	text-align: left;
	border: none;
	border-bottom: 1px solid #000;
}
