/****
 * Three column floating div layout with 2,1,3 column order
 * Based on: http://matthewjamestaylor.com/blog/holy-grail-no-quirks-mode.htm
 * And:  http://matthewjamestaylor.com/blog/ultimate-3-column-holy-grail-pixels.htm
 *
 * #page
 *   #page-header
 *   #page-content
 *   |  #region-main-box
 *   |    #region-post-box
 *   |      #region-main-wrap
 *   |      |  #region-main
 *   |      |    .region-content
 *   |      #region-pre
 *   |      |  .region-content
 *   |      #region-post
 *   |      |  .region-content
 *   #page-footer
 *
 * The body tag may also contain one of three layout specific classes that describe
 * the regions of the page and allow us to theme more easily.
 *
 *   default (no class) = Content + side pre + side post
 *   side-pre-only      = Content + side pre
 *   side-post-only     = Content + side post
 *   content-only       = Content
 *
 ****/
 
 html {
  	background-color: transparent;
 }
 
 body {
	margin: 0;
	background-color: #f7f7f7;
 }
 
abbr {
	text-decoration: none;
} 
 
a {
	text-decoration: none;
	color: #000;
} 
 /*
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
 */
/*  */ 
 
.skiplinks,
#dock,
.accesshide,
.skip-block { display: none;}

/* ++ CABEÇALHO ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#page-header-wrap {
	min-width: 1140px;
 	background: #857040;
 	background: -webkit-linear-gradient(45deg, #6e5d35, #9c834b); 
 	overflow: hidden;
 	border-bottom: 2px solid #444;
}
#page-header {
 	width: 1140px;
	margin: 0 auto;
	color: #fff;
}
.headermain {
	float: left;
	height: 130px; /* colocar imagem */
}

.headermain {
	margin: 0;
	float: left;
}
.headermain a {
	border: none;
}
.headermain a:hover {
	background: none;
	border: none;
}
#login-info-wrap {
	float: right;
	text-align: right;
	margin: 15px 20px 0 0;
}
.notloggedin #login-info-wrap {
/* 	margin: 15px 20px 0 0; */
}

.logininfo {
	color: #fff;
}
.logininfo a,
.logininfo a:visited { color: #fff; border-bottom-color: #444; }
.logininfo a:hover { color: #444; background: inherit; }


.notloggedin .langmenu {
	clear: none;
/* 	margin: 15px 20px 0 0; */
}
/* header login */

.block_login { display: none; } /* remove login from sidebar */
#header-login {
	float: right;
	width: 200px;
	padding: 10px;
}
#header-login #login { width: 200px; }
#header-login .header h2 {
	font-family: 'PT Sans Narrow', Tahoma, sans-serif;
	font-size: 20px;
	margin: 5px 0;
	border-bottom: 2px solid #fff;
	display: none;
}
#header-login .loginform { float: left; }
#header-login .loginform .fld {  }
#header-login .loginform .fld input { width: 100%; border: 1px solid #857040; }
#header-login .loginform label { display: block; }
#header-login .loginform .btn { margin-top: 5px; float: right; }
#header-login .loginform input[type=submit] { background: #7a663a; }
#header-login .loginform input[type=submit]:hover { background: #857040; }
#header-login .loginform input[type=submit]:active { background: #c0ab7c; }
#header-login .footer a { margin-top: -25px; float: left; color: #444; }
#header-login .footer a:visited { color: #57492a; }
#header-login .footer a:hover { color: #fff; background: inherit; }
#header-login .footer a:active { background: #857040; }

.headermenu {
    float: right;
    font-size: 0.8em;
    margin: 10px;
    text-align: right;
}

.headermenu a {
    font-weight: bold;
}

/* Breadcrumb */

.navbar {
	width: 900px;
	overflow: hidden;
}
.breadcrumb {
	font-size: 10px;
	text-transform: uppercase;
	padding: 5px 20px;
	float: left;
}
.breadcrumb a:visited { color: #857040; }
.breadcrumb a:active { color: #fff; }
.breadcrumb ul {
	margin: 0;
}

.breadcrumb li {
	list-style-type: none;
    display: inline;
}

.breadcrumb li:last-child a {
	font-weight: bold;
}

.navbutton {
	float: right;
}
.navbutton table {	margin: 0; }
.navbutton th, .navbutton td {	padding: 0; }


/* ++ MENU +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#page {
	margin: 0 auto;
	font: 13px/1.8 'Droid Serif', Georgia, serif;
	font-weight: normal;
	color: #444;
}

#page-content {
	width: 1140px;
	margin: 20px auto 0;
	clear: both;
}
#page-content #region-main-box {
	clear: both;
}
#page-content #region-post-box {

}

#page-content #region-main-wrap {
	float: left;
	margin: 0 20px 20px 0;
	background-color: #fff;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
	padding: 20px;
	width: 860px;
}
#page-content #region-main {
	padding: 0 20px 0 0;
	width: 640px;
	float: left;
}
#page-content #region-pre {
	width: 200px;
	float: left;
	margin: 0;
}
#page-content #region-post {
	width: 220px;
	float: left;
}
#page-footer {
	clear: both;
	width: 1140px;
	margin: 0 auto;
	border-top: 2px solid #777;
}
#page-footer img {
	margin: 20px 0;
	width: 100px;
	height: auto;
}
#page-footer .logininfo {
	margin-top: 20px;
	color: #444;
	border: none;
}
#page-footer .logininfo a {
	color: #857040;
}
/*if no sidebar */
.side-pre-only #page-content #region-main-wrap { width: 1100px; }
.side-pre-only #page-content #region-main { width: 880px; }

/* Courses Homepage */
/*
.coursebox {
	float: none;
	width: auto;
	padding: 0 10px;
	border-left: 10px solid #fff;
	border-right: 1px solid #fff;
}
.coursebox .info,
.coursebox .summary {
	float: none;
	width: auto;	
}
.coursebox h3 {
	margin: 0;
	padding: 0;
}
#pageheading {
	font-size: 18px;
}
.mod_introbox {
	font-style: italic;
	border: none;
}
/*
.generalbox {
	font-size: 12px;
	line-height: 15px;
	padding: 10px 0;
	border-width: 1px 0 0 0;
	border-color: #444;
	border-style: dotted;
}

ul.section.img-text {
	margin: 0;
}

.modified {
	font-size: 10px;
	font-style: italic;
	padding: 5px 0;
	border-top: 1px dotted #444;
}

.forumheaderlist {
	margin: 0 !important;
	border: none;
	border-collapse: collapse !important;
}

.forumheaderlist th {
	text-align: left;
	border: 1px solid #ccc;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
}

.forumheaderlist td {
	text-align: left;
	border: none;
	border-bottom: 1px solid #000;
}
*/


/* FRONT PAGE */
.pagelayout-frontpage #page-content #region-main { width: auto;  }
.pagelayout-frontpage #page-content #region-content { margin-right: 0; }

#frontpage-content {
	width: 640px;
	float: left;	
}
#frontpage-content > .frontblock {
	border-bottom: 2px solid #857040;
	overflow: hidden;
	padding-bottom: 20px;
	margin-right: 20px;
	
}

#frontpage-content > .frontblock:last-child { border: none; }
#uni { float: right; }
#uni h2 { border-bottom: 2px solid #857040; }
#uni ul { margin: 0; }
#uni .list .icon {
	float: left;
	display: none;
}
#uni .list li {
	list-style-type: none;
	border-bottom: 1px solid #e5e5e5;
}
#uni .list li a {
	color: #444;
	border: none;
}
#uni .list li a:hover {
	color: #857040;
}

/* login page */

#page-login-index #page-content #region-main #region-main,
#page-login-index #page-content #region-main-wrap,
#page-login-index #page-content #region-main {
	width: 100%;
}

.loginpanel, .signuppanel {
	float: left;
}
.loginpanel {
	width: 40%;
}
.signuppanel {
	width: 60%;
}

/* ONLINE USERS BLOCK */
.block_online_users ul.list li {
    list-style-type: none;
}

.block_online_users ul.list {
    margin: 0px;   
}

.block_online_users ul.list img.userpicture {
    margin-right: 5px;   
}

/* TABLES — WIDTH */
table.generalbox {
width: 73.5%;
}

/* DIV WIDTHS */
#intro.generalbox, .path-mod-choice .results.names .user, .path-mod-choice #yourselection {
padding: 10px;
}

/* SETTINGS MENU */

#region-main-wrap .block_settings {
	display: block;
}
#region-main-wrap .block_settings hr {
	display: none;
}
#region-main-wrap .block_settings {
	float: right;
	width: 200px;
	padding: 0;
	box-shadow: none;
}
#region-main-wrap .block_settings .block_tree {
	padding: 0;
}
#region-main-wrap .block_settings .block_tree > li > ul {
	padding: 0;
}
#region-main-wrap .block_settings ul li:last-child {
	border: none;
	margin-bottom: 10px;
}

#region-main-wrap .block_settings li {
	line-height: 1;
	list-style-type: none;
}
#region-main-wrap .block_settings .root_node {
	margin: 0;
	padding: 0;
	font: 16px normal normal 'PT Sans Narrow', Tahoma, sans-serif;
	text-transform: uppercase;
	background: none;
	color: #444;
	border-bottom: 2px solid #444;
}
#region-main-wrap .block_settings ul ul { border-top: 1px solid #ccc; }
#region-main-wrap .block_settings ul > li {
	line-height: 1.4;
	border-bottom: 1px solid #ccc;
}

