#page-mod-quiz-view .quizinfo, #page-mod-quiz-view #page .quizgradefeedback, #page-mod-quiz-view #page .quizattempt {
	text-align:left;

}

#page-mod-quiz-view .generaltable.quizattemptsummary {
	width: 100%;

}

#page-mod-quiz-view .generalbox#feedback {
	width: 100%;

}

.que .formulation {
	background-color: transparent;
	margin: 0px;

}

.que .formulation, .que .outcome, .que .comment, .que .history {
	margin: 0px;
	padding: 0px;

}

#page-mod-quiz-attempt #page .controls, #page-mod-quiz-summary #page .controls, #page-mod-quiz-review #page .controls {
	text-align: left;
}


.boxaligncenter {
	align: left;
	margin: 0;
}

table.quizreviewsummary {
width: 100%;
}

/* para fazer o overflow da imagem nas perguntas */

.que .qtext img {
	height: 100%;}
	
.que .qtext {
	overflow: auto;
}


/* ===== edit view ==== */
#page-mod-quiz-edit #quizcontentsblock {
	
}
